/*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}*/
body{
    background-color:lightblue;
    font-family: 'Poppins', sans-serif;
 }
 .code{
    width: 360px;
    padding: 50px;
    text-align: center;
    background-color:white;
    margin-left: 33%;
    margin-top: 150px;
    border: 5px solid;
 }
 input{
    width: 270px;
    padding: 8px;
    border: 2px solid;
    outline: none;
    font-size: 19px;


 }
 button{
    width: 65px;
    height: 42px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 2px;
    font-size: 19px;
 }
 .wall ul{
    position: relative;
    background-color: coral;
    color: black;
    font-size: 22px;
    padding: 7px;
    text-align: left;
 }
 .wall ul i{
    position: absolute;
    right: 10px;
    cursor: pointer;
 }